
{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="container pt-4">
        <div class="row p-0 mt-4">
            <div class="col-lg-4 mx-auto shadow p-0">
                <div class="alert alert-info">
                    <h2>Add New TODO</h2>
                </div>
                <div class=" p-4">
                    <form action="http://127.0.0.1:8000/app/add_todo" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <hr>
                        <input type="submit" value="ADD" class="btn btn-success">
                    </form>
                </div>
            </div>

            <div class="col">
                <div class="border border">

                    {% if todos|length == 0 %}

                    <div class="p-4">
                        <br><br>
                        <div class="alert alert-info">
                            <p class="text-center" style="font-size:40px;">No Todos</p>
                        </div>
                        <br><br>
                    </div>

                    {% else %}
                    <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for todo in todos %}
                             <tr>
                                 <td>{{forloop.counter}}</td>
                                 <td>{{todo.title}}</td>
                                 <td>{{todo.status}}</td>
                                 <td>{{todo.priority}}</td>
                                 <td>
                                     <a href="http://127.0.0.1:8000/app/delete_todo{{todo.id}}" title="Delete">🗑️</a>
                                     {% if todo.status == 'P' %}
                                        <a href="http://127.0.0.1:8000/app/change_status{{todo.id}}/C" title="Mark Completed">🕒</a>
                                     {% else %}
                                        <a href="http://127.0.0.1:8000/app/change_status{{todo.id}}/P" title="Mark Pending">✅</a>
                                     {% endif %}


                                 </td>
                             </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>

                    {% endif %}




                </div>
            </div>

        </div>
        </div>
    </div>
{% endblock %}

